* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	font-family: "Roboto", sans-serif;
}
body {
	background: rgb(28, 204, 255);
	background: radial-gradient(
		circle,
		rgba(28, 204, 255, 1) 0%,
		rgba(27, 142, 255, 1) 100%
	);
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.main {
	background-color: #f8f9fa;
	border-radius: 10px;
	min-width: 260px;
	padding: 1rem;
	margin: 1rem;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end;
}
.main--title {
	width: 100%;
	/* margin-bottom: 1rem; */
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 1rem;
}
.main--title__text,
.fa-fonticons {
	font-size: 3rem;
}
.main--line {
	border-bottom: solid 1px grey;
	width: 100%;
	margin: 1rem;
}
.main__icons {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	border-radius: 10px;
}
.main__icons--div {
	width: 100px;
	display: flex;
	background-color: rgba(228, 228, 228, 0.336);
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 5px;
	margin: 10px;
	/* sombras */
	-webkit-box-shadow: 0 10px 6px -6px rgb(192, 192, 192);
	-moz-box-shadow: 0 10px 6px -6px rgb(192, 192, 192);
	box-shadow: 0 10px 6px -6px rgb(192, 192, 192);
}
.main__icons_box-text {
	height: 30px;
	width: 100%;
	background-color: #fff;
	display: flex;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.main__icons--text {
	font-size: 12px;
	width: 100%;
	font-family: "Roboto", sans-serif;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(134, 134, 134);
}
.main__icons--text:hover {
	color: black;
}
a {
	text-decoration: none;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
}
/* cambia el tamaño del icono */
i {
	font-size: 8rem;
	width: inherit;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
i:hover {
	color: white;
	background-color:	rgba(27, 142, 255, 1) ;
}
/* ////////////////////////// FOOTER ////////////////////////// */
footer {
	display: flex;
	gap: 0.5rem;
	align-items: center;
}
a,
.fa-github {
	font-size: 1.5rem;
	color: black;
	margin-bottom: 1rem;
}
/* ////////////////////////// MEDIA QUERY ////////////////////////// */
@media (min-width: 600px) {
	body {
		flex-direction: column;
	}
	.main--title {
		justify-content: space-between;
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.main {
		max-width: 500px;
	}
}
